<html>
    <head>
        <title>Main</title>
    </head>
    <body>
        <ul>
            <li><a href = '/BSD'> BSD Students </a></li>
            <li><a href = '/highGPA'> Highest GPA </a></li>
            <li><a href = '/allStudents'> All Students </a></li>
            <li><a href = '/'> Home </a></li>
        </ul>
        <hr>
        <main>{{{body}}}</main>
        <hr>
        <h2>Student Honour Pledge:</h2>
        <p>I acknowledge Seneca College's academic integrity policy.<br>
        On my honor, I have neither given or received unauthorized aid on this test.</p>
   <p>Name: <mark><b>Gazal Garg</b></mark><br>
   <br>Student Number: <mark><b>107140212</b></mark><br></p>
    </body>
</html>